.submit{
    
     
    background-color: #F3A847;
  
   
}
 
.bdr{
    border:1px solid;
    padding: 15px;
}
 
.top30{
    margin-top: 30px;
}
textarea{
    width: 100%;
}
.input{
    margin-top:15px;
    border-radius: 10px;
}
button{
    width:100%;
    text-align: center;
    padding: 8px;
}
.reset{
    border:none;
    background-color: white;
}
p{
    font-size:12px;
}
.top10{margin-top:10px;

}
span{
    text-align:center;
    font-size: 25px;
}
table{
    width:100%;
    text-align: center;
    border: 1px solid; 
}
td{
    border:1px solid;
}